@media screen and (max-width: 412px) {
  body * {
    display: none !important;
  }

  body::before {
    content: "Your screen is too narrow. \A \A Make the window wider or rotate your device to continue using the generator.";
    display: block;
    white-space: pre-wrap;
    width: 100%;
    text-align: center;
    margin-top: 100px;
    font-size: 1.5em;
  }
}
/* MOBILE */
@media screen and (max-width: 767px) {
  h1 {
    font-size: 7.5vw;
    margin-top: 2% !important;
  }

  h2 {
    font-size: 1.8em;
  }

  div#preview {
    display: block;
  }

  div.expand::before {
    width: calc(100vw - 60px);
  }

  div#image {
    margin-bottom: 0px;
  }

  div#image-container {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    width: 100%;
  }

  div#buttons {
    width: auto;
    flex: 1;
    align-items: center;
    height: fit-content;
  }

  div#buttons button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  div#image {
    --length: min(45vw, 720px, 60vh);
    width: var(--length);
    height: var(--length);
  }

  #image img {
    width: var(--length);
    height: var(--length);
  }

  .sticky {
    position: sticky;
    top: 0px;
    background-color: #f5efe7;
    padding: 2.5% 0 0.5% 0;
    z-index: 1;
  }

  button.heading {
    height: 57px;
    margin-bottom: 1.5% !important;
  }

  .option {
    padding: 9px 25px !important;
  }

  #random,
  #download {
    background-color: #675640;
  }
}

/*TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.2em;
  }

  #options {
    overflow-y: auto;
    display: flex;
    position: relative;
    height: fit-content;
    max-height: 60vh;
    width: 50vw;
    background-color: rgba(235, 229, 221, 1);
    box-shadow: inset 1px 1px 1px 1px #c7bfb38c;
  }

  .expand::before {
    right: 10% !important;
  }

  #random,
  #download {
    background-color: #3e2627;
  }

  button.heading {
    height: 56px;
    margin-bottom: 1% !important;
  }

  .option {
    padding: 7px 23px !important;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
  body {
    padding: 1% 5% !important;
    max-height: 100vh;
    overflow: auto;
  }

  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.5em;
  }

  #options {
    overflow-y: auto;
    display: flex;
    position: relative;
    height: fit-content;
    max-height: 60vh;
    width: 50vw;
    background-color: rgba(235, 229, 221, 1);
    box-shadow: inset 1px 1px 1px 1px #c7bfb38c;
  }

  .expand {
    max-height: none;
  }

  .heading::before {
    right: 5% !important;
  }

  #image-container {
    width: max(26vw, 100px) !important;
  }

  #random,
  #download {
    background-color: #5a4436;
  }

  button.heading {
    height: 55px;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  padding: 1% 3%;
  background-color: #f5efe7;
  max-width: 100vw;
  box-sizing: border-box;
  font-size: 12px;
  justify-content: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #67564070;
}

::-webkit-scrollbar-track {
  margin-top: 8px;
  margin-bottom: 8px;
}

h1 {
  font-family: "Permanent Marker", sans-serif;
  margin: 0 10% 0.5% 1%;
  color: #533306;
  line-height: 1.2em;
  text-shadow: 0.3px 0 #463107;
}

.ml10 {
  position: relative;
  font-weight: 900;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: visible;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}

h2 {
  font-family: "Poppins", sans-serif;
  margin: 1% 0 0 3%;
  color: #533306;
  line-height: 1.2em;
  text-shadow: 0.5px 0 #463107;
}

#image {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  margin: 2% 1% 10% 1%;
  pointer-events: none;
  overflow: hidden;
  position: relative;
}

#image-container {
  width: max(35vw, 201px);
}

#buttons {
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 22px;
  background-color: rgba(235, 229, 221, 1);
  display: flex;
  margin: 2% 2% 2% 2%;
  flex-direction: column;
  color: rgba(235, 229, 221, 1);
  padding: 3% 2% 3% 2%;
  box-shadow: inset 1px 1px 1px 1px #c7bfb38c;
}

img {
  width: 100%;
  position: absolute;
}

#preview {
  display: flex;
  justify-content: center;
  gap: 4%;
}

input[type="checkbox"] {
  appearance: none;
  display: none;
}

#options {
  border-radius: 22px;
  display: flex;
  margin: 2% 2% 2% 2%;
  flex-direction: column;
  color: rgba(235, 229, 221, 1);
  padding: 3% 2% 3% 2%;
  height: fit-content;
}

.expand {
  box-sizing: border-box;
  margin-bottom: 1%;
  background-color: #c7b299;
  border-radius: 28px;
  border: 2px solid #675640;
  cursor: pointer;
  display: none;
}

button.heading {
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  color: #fff8e8;
  box-sizing: border-box;
  display: block;
  background-color: #a9957d;
  padding: 10px 20px;
  transition: all 1s;
  cursor: pointer;
  border-radius: 28px;
  border: 2px solid #675640;
  margin-bottom: 2px;
  margin-top: 1%;
}

button.heading:first-child {
  margin-top: 0;
}

.heading::before {
  font-family: FontAwesome;
  content: "\f107";
  position: absolute;
  display: block;
  color: #ebe5dd;
  font-size: 1.2em;
  text-align: right;
  box-sizing: border-box;
  font-weight: 600;
  right: 15%;
}

.heading.active {
  max-height: 777px;
  border-radius: 28px;
  box-shadow: 0px 1px 0px #533306, 0px 1px 1px rgba(0, 0, 0, 0.9);
}

#backgrounds:focus {
  max-height: 1000px;
}

.heading.active::before {
  content: "\f106";
}

.heading:hover,
.heading.active {
  background-color: #a68b5b;
  transition: 0.5s ease-in-out;
}

.button-container {
  padding: 5px 10px;
  text-align: center;
  cursor: default;
}

.whole-container {
  text-align: center;
  padding: 0.5% 0 1% 0;
}

.button-container input,
.whole-container input {
  appearance: none;
  display: none;
}

#blue1 + label {
  background-color: #5596f6;
}

#blue2 + label {
  background-color: #2a7bf4;
  color: #ebe5dd;
}

#blue3 + label {
  background-color: #2a5ca7;
  color: #ebe5dd;
}

#blue4 + label {
  background-color: #7a8faf;
  color: #ebe5dd;
}

#blue5 + label {
  background-color: #002966;
  color: #ebe5dd;
}

#blue6 + label {
  background-color: #00193d;
  color: #ebe5dd;
}

#green1 + label {
  background-color: #9fd966;
}

#green2 + label {
  background-color: #74bd29;
  color: #ebe5dd;
}

#green3 + label {
  background-color: #6a9440;
  color: #ebe5dd;
}

#grey1 + label {
  background-color: #cccccc;
}

#grey2 + label {
  background-color: #666666;
  color: #ebe5dd;
}

#grey3 + label {
  background-color: #333333;
  color: #ebe5dd;
}

#red1 + label {
  background-color: #e85e23;
  color: #ebe5dd;
}

#red2 + label {
  background-color: #cb4c15;
  color: #ebe5dd;
}

#red3 + label {
  background-color: #9f370a;
  color: #ebe5dd;
}

#yellow1 + label {
  background-color: #fcd33f;
}

#yellow2 + label {
  background-color: #e6b60d;
  color: #ebe5dd;
}

#yellow3 + label {
  background-color: #cf8e10;
  color: #ebe5dd;
}

#white {
  background-color: #ffffff;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid #675640;
  color: #675640;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
  font-size: 1.2em;
  transition: 0.5s;
}

#brown {
  background-color: #b69578;
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid #675640;
  color: #675640;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
  font-size: 1.2em;
  transition: 0.5s;
}

.option {
  display: inline-block;
  padding: 5px 20px;
  border: 2px solid #675640;
  color: #675640;
  background-color: #ebe5dd;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
  font-size: 1.2em;
  transition: 0.25s;
}

.option:hover,
#white:hover,
#brown:hover {
  border-color: #523a17b7;
  color: #dd8500 !important;
  transition: 0.5s ease-in-out;
  transform: scale(1.02);
}

.background {
  width: 58px;
}

input[type="radio"]:checked + .option {
  background-color: #675640 !important;
  color: #ebe5dd !important;
  transform: scale(1);
}

#random,
#download {
  font-size: 1.7em;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  border: none;
  color: #fff8e8;
  padding: 2vh 1vw;
  margin: 2%;
  transition: 0.8s;
}

#random:hover,
#download:hover,
#random:active,
#download:active {
  background-color: #c57702;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.01);
}

#download-link,
canvas {
  display: none;
}

#info {
  background-color: #f5efe7;
  border: 2px solid #675640;
  color: #675640;
  border-radius: 50% !important;
  height: 40px;
  aspect-ratio: 1;
  font-size: 2.2em;
  font-weight: bolder;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 3%;
  right: 3%;
}

#info:hover {
  color: #c57702;
  border: 2px solid #c57702;
  transition: 0.5s;
  transform: scale(1.05);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}

.modal-content h2 {
  color: #533306;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 4%;
}

.modal-content {
  background-color: #f5efe7;
  margin: 4% auto;
  padding: 20px;
  border: 1px solid #a9957d;
  width: fit-content;
  overflow: auto;
  border-radius: 15px;
}

.close {
  color: #a9957d;
  float: right;
  font-size: 33px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #533306;
  text-decoration: none;
  cursor: pointer;
}

.category-rand {
  align-self: center;
  font-size: 1.25em;
  display: inline-block;
  padding: 2% 3%;
  border: 2px solid #675640;
  border-radius: 50px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

